<app-custom-header></app-custom-header>

<div class="container">
  <div class="alert alert-primary mt-5" role="alert">
    <h3>Lista de clientes</h3>
  </div>
 </div>

<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-primary">
        Para adicionar um novo cliente <button routerLink="/cadastro-cliente" class="btn btn-primary btn-sm">Clique aqui</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefone</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
              <td scope="row">{{cliente.id}}</td>
              <td>{{cliente.nome}}</td>
              <td>{{cliente.email}}</td>
              <td>{{cliente.telefone}}</td>
              <td>
                <button class="btn btn-primary btn-sm">Editar</button>&nbsp;
                <button class="btn btn-danger btn-sm">Remover</button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-custom-footer></app-custom-footer>


