<div>
  <header>
    <p>Header</p>
    <h1>Curso de Angular</h1>
    <p>Bem-vindo ao curso de Angular.</p>
    <p>Aqui você irá aprender a como utilizar um Framework incrível!</p>
  </header>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/primeiro-componente">Primeiro componente</a></li>
      <li><a routerLink="/pipes-componente">Pipes componente</a></li>
      <li><a routerLink="/emitindo-evento-componente">Primeiro evento</a></li> 
      <li><a routerLink="/lista-produtos">Lista produtos</a></li> 
    </ul>
  </nav>
</div>
<main>
  <router-outlet></router-outlet>
</main>
<div>
  <footer>
    <p>
      Footer
    </p>
  </footer>
</div>