/* You can add global styles to this file, and also import other style files */
/* * {
  background-color: #22272E;
  color: #ccc;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */
@import '~bootstrap/dist/css/bootstrap.min.css';
