<div *ngIf="address.length > 0; else listaVazia">
  <h2 [ngClass]="classTitle">Lista de CEP</h2>

  <table>
    <tr>
      <th>#</th>
      <th>tipo logradouro</th>
      <th>logradouro</th>
      <th>bairro</th>
      <th>cep</th>
      <th>cidade</th>
      <th>estado</th>
    </tr>
    <tr *ngFor="let item of address; index as i" [ngClass]="{'striped': (i + 1) / 2 == 0}">
      <td>{{ i + 1 }}</td>
      <td>{{ item.addressType }}</td>
      <td>{{ item.addressName }}</td>
      <td>{{ item.district }}</td>
      <td>{{ item.zipCode }}</td>
      <td>{{ item.city }}</td>
      <td>{{ item.state }}</td>
    </tr>
  </table>
</div>
<ng-template #listaVazia>
  <div>A lista de endereço está vazia.</div>
</ng-template>
